<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myworkout.board.model.dao.VideoDao">
	<resultMap type="Video" id="videoMap">
		<id column="video_id" property="videoId" />
		<result column="url" property="url" />
		<result column="like_count" property="likeCount" />
		<result column="review_count" property="reviewCount" />
		<result column="category" property="category" />
	</resultMap>

	<resultMap type="VideoReview" id="reviewMap">
		<id column="review_id" property="reviewId" />
		<result column="content" property="content" />
		<result column="time" property="time" />
		<result column="changed" property="changed" />
		<result column="user_photo" property="userPhoto" />
		<result column="user_id" property="userId" />
		<result column="user_nickname" property="userNickname" />
		<result column="video_id" property="videoId" />
	</resultMap>

	<select id="selectAllVideos" resultMap="videoMap">
		SELECT *
		FROM video
	</select>
	
	<select id="selecOneVideo" resultMap="videoMap" parameterType="int">
		SELECT *
		FROM video
		WHERE video_id = #{video_id}
	</select>
	
	<select id="detailVideo" resultMap="reviewMap" parameterType="int">
		SELECT review_id, content, user_photo, user_nickname, changed, date_format(time, '%Y-%m-%d %H:%i:%s') as time, user_id, video_id
		FROM review
		WHERE video_id = #{video_id}
	</select>
	
	<select id="selectVideoReview" resultMap="reviewMap" parameterType="int">
		SELECT *
		FROM review
		WHERE review_id = #{review_id}
	</select>
	
	<insert id="InsertVideoReview" parameterType="VideoReview">
		INSERT INTO review VALUES
		(0, #{content}, now(), 0, #{userPhoto}, #{userId}, #{userNickname}, #{videoId});
	</insert>
	
	<update id="UpdateVideoReview" parameterType="VideoReview">
		UPDATE review
		SET
		content = #{content},
		changed = 1
		WHERE review_id = #{reviewId}
	</update>
	
	<delete id="DeleteVideoReview" parameterType="int">
		DELETE FROM review WHERE review_id = #{reviewId}
	</delete>

</mapper>